<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container">
      <a class="navbar-brand" href="#">CSOK</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mx-auto">
              <li class="nav-item">
                  <a class="nav-link" href="#who">Who</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#what">What</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#stories">Stories</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#pictures">Pictures</a>
              </li>
          </ul>
          <ul class="navbar-nav pull-right">
              <a href="#" class="btn btn-secondary" role="button" aria-pressed="true">Join Us</a>
          </ul>
      </div>
  </div>
</nav>
